@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* border: 2px solid red; */
}

body{
 font-family: Roboto, sans-serif;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.header{
    align-items:stretch;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #E5E7EB;
    /* border: 3px solid red; */
    /* font-weight: 900; */
    /* font-size: 24px; */
}

.links{
    display: flex;
    font-size: 18px;
    /* border: 3px solid white; */
    justify-content: space-around;
    margin-right: 40px;
}
.rightlink{
    display: flex;
    /* border: 3px solid greenyellow; */
    align-items: center;
    gap: 50px;
}
.headerlogo{
    max-width: 100px;
    height: 100px;
    display: flex;
    /* border: 4px solid tomato; */
    justify-content: left;
}


/* Decoration */

a{
    text-decoration: none;
    color: #E5E7EB;
}
li{
    list-style-type: none;
}
/* Decoration */

/* First Section */

.whole{
    display: flex;
    /* border: 5px solid orange; */
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.whole img{
    min-width: 0;
    width: 300px;
    height: auto;
    margin: 10px;
    /* flex: 1 1 0; */
    border-radius: 15px;
    /* border: 5px solid slateblue; */
}
.adjust{
    /* border: 4px solid palevioletred; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink:1;
    align-items: start;
    /* padding: 10px; */

}
.enclose{
    /* border: 4px solid blue; */
    display: flex;
    flex-direction: column;
}
h2{
 font-size: 48px;
 font-weight: 900;
 color: #F9FAF8; 
 /* border: 4px solid brown;  */
 flex-shrink: 1; 
 margin: 0;
}
.enclose p{
    /* border: 4px solid skyblue; */
    text-align: left;
    flex-wrap: wrap;
    max-width: 500px;
    height: auto;
}

.button{
    background-color: #3882f6;
    border:none;
    color: #F9FAF8;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 18px;
    cursor: grab;
}
/* Second Section */

h1{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}

.container-2{
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 60px;
    /* border: 4px solid red; */
    flex: 1;
    /* flex-wrap: wrap; */
}

.container-2 img{
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    height: 250px;
    justify-self: center;
    flex: 1 1 0;
    border: 5px solid black;
}

.text{
    padding:10px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-weight: 100;
    font-size: 18px;
    /* border: 2px solid black; */
}




/* Quote Section */


.thor{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: flex-end;
    /* border: 5px solid magenta; */
    
}
.quote{
    background-color: #E5E7EB;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 480px;
    /* border: 5px solid gold; */
    /* flex-shrink: 1; */
}

.quoteby{
    display: flex;
    align-self: flex-end;
    color: black;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}




/* section */

.click{
    display: flex;
}
.section{
    display: flex;
    margin: 120px;
    padding: 50px;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    color: #E5E7EB;
    flex: 1 1 0;
}
.right{
    display: flex;
    flex-direction: column;
}


.left{
    background-color: #3882f6;
    border:2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 18px;
    cursor: grab;
}

#rightbold{
    font-weight: 900;
    font-size: 25px;
    color:#F9FAF8;
}




/* Footer */

.Footer{
    display: flex;
    justify-content: center;
    -ms-grid-column-align: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 20px;
    margin-top: auto;
}